# CPU クロック
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# USB Serial/JTAG CDC (ESP32-S3 内蔵コントローラ)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_USB_SERIAL_JTAG_ENABLED=y

# FreeRTOS tick rate
CONFIG_FREERTOS_HZ=1000

# ログレベル
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
